@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gradient-to-b from-[#022B3A] to-[#1F7A8C] bg-no-repeat font-mono p-8;
  }
  h1 {
    @apply p-2 font-bold text-xl text-[#E1E5F2];
  }
}

/* @layer components {
  .range {
    @apply w-full bg-gray-200 rounded-lg h-3 appearance-none overflow-hidden cursor-pointer;
  }
} */

input[type='range'] {
  width: 210px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
  background: transparent;
}
input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type='range']::-webkit-slider-runnable-track {
  width: 200px;
  height: 10px;
  background: linear-gradient(to right, #777, #777), #E1E5F2;
  background-size: var(--background-size, 0%) 100%;
  background-repeat: no-repeat;
  border-radius: 5px;
}
input[type='range']::-webkit-slider-thumb {
  position: relative;
  height: 30px;
  width: 30px;
  margin-top: -10px;
  background: #1F7A8C;
  border-radius: 50%;
  border: 2px solid white;
}